/* src/components/Navbar/Navbar.css */
.navbar {
    background-color: pink;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: white;
    color: pink;
  }
  